*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variaves */
:root {
    --font-secundary:"PT Serif", serif;
    --font-primary: "Poppins", sans-serif;
    --color-text: #839ab9;


}

body{
    width: 100%;
    background-image: url(../img/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
}

.img-desktop{
    cursor: pointer;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin: 0 auto;
}

.img-logo {
    margin: 0 auto;
    display: flex;
    position: relative;
    margin-left: 50px;
}

.navegation .navegation-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    

    list-style: none;
    background-color: transparent;
    backdrop-filter: blur(50px);
    padding-inline: 150px;
}


.navegation .navegation-menu a{
    text-decoration: none;
    color: #c6c3c3;
    margin-right: 27px;
    font-size: 0.9rem;

    display: block;
    font-family: var(--font-primary);
    padding: 30px 2px;
    transition: .8s;
    
}

.navegation .navegation-menu a:hover{
    color: var(--color-text);
    transform: scale(1.1);
}

#border{
    border-bottom: 2px solid #e2e2e2;
} 

/* conteúdo */


.container .content-left{
    max-width: 1200px;
    margin: 60px auto;
    margin-bottom: 0;
    min-height: 50vh;

    display: flex;
    align-items: center;
    
    gap: 220px;
}

.container .content-left .img-mrs h3{
    margin-bottom: 30px;
    color: var(--color-text);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: var(--font-primary);
}

.text-mars-content{
    color: white;
}

.content-rigth .mars-menu{
    display: flex;
    gap: 20px;
    list-style: none;
}

.content-rigth .mars-menu li{
    padding: 20px 0 ;
    color: var(--color-text);
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-mars-content h1{
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family:  sans-serif;
    font-weight: 100;
    font-family: var(--font-secundary);
    font-weight: 100;
}

.text-mars-content p{
    font-size: 1.3rem;
    max-width: 500px;
    margin: 0 0 30px;
    font-family: var(--font-primary);
    font-weight: 200;
}

hr{
    margin-bottom: 30px;
}

.about-text{
    display: flex;
    gap: 70px;
}

.about-text h3{
    font-size: 2rem;
    font-family: var(--font-primary);
    font-weight: 200;
}

.about-text h4{
    font-family: var(--font-primary);
    font-weight: 100;
    font-size: .9rem;
    text-transform: uppercase;
}











